@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: "Rubik", sans-serif;
}
